<%= render :partial => "common/user_nav" %>

<ul>
<% @boards.each do |board| %>
    <li>
        <%= link_to(board.name, admin_board_posts_path(board)) %>
        <%= link_to("Edit", edit_admin_board_path(board)) %>
        <%= link_to("Destroy", admin_board_path(board), :method => :delete )%>
    </li>
<% end %>
</ul>

<%= link_to("New Board", new_admin_board_path) %> 
