<%= render :partial => "common/user_nav" %>

<%= link_to "中文版", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "tw"	%>
<%= link_to "English", :controller => controller.controller_name, 
   	         :action => controller.action_name, :locale => "en" %>

<h2><%= t "welcome.title" %></h2>
<p><%= t "welcome.paragraph" %></p>

<ul>
<% @boards.each do |board| %>
    <li>
        <%= link_to(board.name, board_posts_path(board)) %>
        <%= board.posts.size %>
    </li>
<% end %>
</ul>
