<%= render :partial => "common/user_nav" %>

<ul>
<% @boards.each do |board| %>
    <li>
        <%= link_to(board.name, board_posts_path(board)) %>
        <% if user_signed_in? %>
            <%= link_to("Edit", edit_board_path(board)) %>
            <%= link_to("Destroy", board_path(board), :method => :delete )%>
        <% end %>
    </li>
<% end %>
</ul>

<%= link_to("New Board", new_board_path) if user_signed_in? %> 
