<%= form_for @post, :url => post_path(@post), :method => :put do |f| %>
    <p>
        <%= f.label :subject, "Subject:" %>
        <%= f.text_field :subject %>
    </p>
        <%= f.label :content, "Content:" %>
    <p>
        <%= f.text_area :content %>
    </p>
    <%= f.submit "Update" %>
<% end %>