<%= render :partial => "common/user_nav" %>

<ul>
<% @posts.each do |post| %>
    <li>
        <%= link_to(post.subject, board_post_path(@board, post)) %>
        <% if current_user && post.user == current_user %>
            <%= link_to("Edit", edit_board_post_path(@board, post)) %>
            <%= link_to("Destroy", board_post_path(@board, post), :method => :delete )%>
        <% end %>
        <em><%= "By #{post.user.email}"%></em>
    </li>
<% end %>
</ul>

<%= link_to("New Post", new_board_post_path(@board)) if user_signed_in? %>